<header class="header {{ logged_in ? 'header--logged-in' : 'header--no-login'}} wrapper" data-nav="container">

    <div class="header__inner grid">

        <div class="grid__item 1/3 1/1--palm-portrait">

            <div class="header__logo">

                <a href="/" class="logo logo--header">
                    {% include './components/logo.twig' %}
                </a>

                <button class="header__nav-btn" data-mobile-nav="btn">
                    <i class="fas fa-bars"></i>
                </button>

            </div>

        </div>

        <div class="grid__item align--right 2/3">

            {% if logged_in %}

                <nav class="nav nav--primary">

                    <a href="{{ function('get_post_type_archive_link', 'campaign') }}" class="nav__item">Campaigns</a>

                    {% if is_admin %}
                        <a href="{{ function('site_url', '/wp-admin/users.php')}}" class="nav__item">Users</a>
                        <a href="{{ function('wp_logout_url', '/') }}" class="nav__item">Log Out</a>
                        <a href="{{ function('site_url', '/wp-admin/user-new.php') }}" class="nav__item btn btn--secondary">Add New User</a>
                        <a href="{{ function('site_url', '/wp-admin/edit.php?post_type=campaign') }}" class="nav__item btn btn--primary">Add New Campaign</a>
                    {% else %}
                        <a href="{{ function('wp_logout_url', '/') }}" class="nav__item btn btn--secondary">Log Out</a>
                    {% endif %}

                </nav>

            {% else %}
                <nav class="nav nav--secondary">
                    <a href="{{ function('wp_login_url', '/') }}" class="nav__item btn btn--secondary margin-right">Log in</a>
                </nav>
            {% endif %}

        </div>

    </div>

    <div class="header__mobile-nav" data-mobile-nav="container">

        {% if logged_in %}
            <nav class="nav nav--primary nav--mobile">
                <button class="nav__item nav__close" data-mobile-nav="close"><i class="fas fa-times"></i></button>

                <a href="{{ function('get_post_type_archive_link', 'campaign') }}" class="nav__item">Campaigns</a>
                {% if is_admin %}
                    <a href="{{ function('site_url', '/wp-admin/users.php')}}" class="nav__item">Users</a>
                    <a href="{{ function('wp_logout_url', '/') }}" class="nav__item">Log Out</a>
                    <a href="{{ function('site_url', '/wp-admin/user-new.php') }}" class="nav__item btn btn--secondary">Add New User</a>
                    <a href="{{ function('site_url', '/wp-admin/edit.php?post_type=campaign') }}" class="nav__item btn btn--primary">Add New Campaign</a>
                {% else %}
                    <a href="{{ function('wp_logout_url', '/') }}" class="nav__item btn btn--secondary">Log Out</a>
                {% endif %}
                
            </nav>
        {% else %}
            <nav class="nav nav--secondary nav--mobile">
                <a href="{{ function('wp_login_url', '/') }}" class="nav__item btn btn--secondary margin-right">Log in</a>
            </nav>
        {% endif %}

    </div>

</header>
