{#  Campaign Overview #}
<div class="campaign__overview">

    {# Campaign Info #}
    <div class="campaign__section">
        <h3 class="campaign__subheader">campaign</h3>
        <h1 class="campaign__header">{{ post.title }}</h1>

        {% if (date_from and date_to ) %}
            <time class="campaign__time">{{ post.get_field('from_date') }} - {{ post.get_field('to_date') }}</time>
        {% endif %}

        {# Download Report #}
        {% if(post.get_field('campaign_data')) %}
            <section class="campaign__section campaign__section--mobile">
                {% include './components/campaign/download.twig' %}
            </section>
        {% endif %}

    </div>


    {# Campaign Demographics #}
    <div class="campaign__section">
        <h3 class="campaign__subheader">Demographics</h3>
        <div class="campaign__demographics">

            {% for demographic in post.get_field('demographics') %}
                <div class="campaign__demographic">
                    <small>{{ demographic.custom_label ? demographic.custom_label : demographic.type.value }}</small>
                    <span>{{ demographic.value_country ? demographic.value_country : demographic.value }}</span>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="campaign__section campaign__section--mobile">
        <h3 class="campaign__subheader">Groups</h3>
        <div class="form-field campaign-questions__dropdown">
            <select class="form-field__select form-field__select--large" data-campaign="group-select">
                <optgroup label="parents">
                    <option class="campaign-group__option campaign-group__option--active"><i class="fas fa-globe-europe"></i> Singapore</option>
                    <option class="campaign-group__option"><i class="fas fa-globe-europe"></i> Indonesia</option>
                    <option class="campaign-group__option"><i class="fas fa-globe-europe"></i> Malaysia</option>
                </optgroup>
                <optgroup label="Children">
                    <option class="campaign-group__option campaign-group__option--active"><i class="fas fa-globe-europe"></i> Singapore</option>
                    <option class="campaign-group__option"><i class="fas fa-globe-europe"></i> Indonesia</option>
                    <option class="campaign-group__option"><i class="fas fa-globe-europe"></i> Malaysia</option>
                </optgroup>
            </select>
        </div>
    </div>

    {# Campaign Questions #}
    {% include './components/campaign/questions.twig' %}

</div>
