{% set subcharts = (question.most_selected or question.least_selected) %}

<div class="campaign-question glide__slide" data-question="item" data-index="{{ loop.index0 }}">

    {# Question Responses #}
    <div class="grid">

        <div class="grid__item {{ (subcharts ? '4/6' : '1/1') }} 1/1--tablet-portrait">
            <div class="campaign-question__chart">

                <div
                    class="campaign-chart"
                    data-question="chart"
                    data-question-title="{{ question.title }}"
                    data-chart-type="{{ question.chart_type }}"
                    data-answers="{{ question.answers|json_encode|escape|raw }}"
                    width="750"
                    height="750"
                ></div>

            </div>
        </div>

        {% if subcharts %}
            <div class="grid__item 2/6 1/1--tablet-portrait">

                <div class="campaign-question__subcharts">

                    {% if question.most_selected %}

                        <div class="campaign-question__selected campaign-question__selected--alt">
                            <div>
                                <span class="campaign-question__subtitle">Most selected</span>
                                <div
                                    class="selected-chart"
                                    data-selected="chart"
                                    data-question-title="{{ question.title }}"
                                    data-answers="{{ question.answers|json_encode|escape|raw }}"
                                ></div>
                            </div>
                        </div>

                    {% endif %}

                    {% if question.least_selected %}

                        <div class="campaign-question__selected">
                            <div>
                                <span class="campaign-question__subtitle">Least selected</span>
                                <div
                                    class="selected-chart"
                                    data-selected="chart"
                                    data-question-title="{{ question.title }}"
                                    data-answers="{{ question.answers|json_encode|escape|raw }}"
                                ></div>
                            </div>
                        </div>

                    {% endif %}

                </div>

            </div>
        {% endif %}

    </div>

    {# Question Insights #}
    {% if question.insights %}

        <div class="campaign-question__insights">

            <h3 class="campaign-subheader">ADNA Insights</h3>

            <div class="campaign-question__insight">
                {{ question.insights }}
            </div>

        </div>

    {% endif %}

</div>
